@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body{
    background-color: var(--corFundo);
    color: black;
    line-height: 1;
    height: 100vh;
}   

:root{
    --corFundo : #f5f5f5;
    --corHover : #cccccc;
    --corPage : #f3eded;
    --corSide : #008584;
    --corPrincipal : #37c7c7;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 80px;
    margin-left: 83px;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 300px;
    transition: .2s;
}

.dropdown-content{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width: 100px;
    width: 100%;
    z-index: 1;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.dropdown-content a{
    color: black;
    font-size: large;
    padding: 12px 16px;
    margin-top: 1px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--corFundo);
    transition: background 0.2s;
    border-style: none;
    box-shadow: 0 1px 0 var(--corHover);
}

.dropdown-content a:hover{
    background-color: var(--corHover);
    transition: background 0.2s;
}

.dropdown:hover .dropdown-content{
    opacity: 1;
    visibility: visible;
}

.dropdown button{
    height: 100%;
    width: 100%;
    background-color: var(--corFundo);
    transition: background 0.2s;
    border-style: none;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.dropdown button:hover{
    background-color: var(--corHover);
    transition: background 0.2s;
}

.dropdown button img{
    height: 30px;
}

.outofheader{
    display: flex;
    flex-direction: row;
}