.principal{
    display: flex;
    justify-content: flex-end;
    margin-left: 83px;
    height: 575px;
    transition: .5s;
}

.principal.recolhe{
    margin-left: 253px;
}

.titulo{
    background-color: var(--corPrincipal);
    width: 100%;
    height: 30%;
    top: 0;
    position: relative;
}

.titulo h1{
    font-size: x-large;
    margin: 25px 0 0 30px;
}

.page{
    position: relative;
    background-color: var(--corFundo);
    height: 80%;
    width: 80%;
    top: -50px;
    border-radius: 30px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.pesquisa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.resumo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}

.resumo p{
    background-color: var(--corPrincipal);
    width: 28%;
    height: 75px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumo button{
    background-color: var(--corPrincipal);
    width: 28%;
    height: 75px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--corTexto);
    transition: .5s;
}

.resumo button:hover{
    background-color: var(--botãoBackground);
    color: var(--botãoTexto);
    transition: 2s;
}

.background{
    background-color: var(--corPage);
    height: 80%;
    width: 95%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.search{
    text-decoration: none;
    color: var(--corTexto);
    background-color: var(--corPrincipal);
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid var(--corTexto);
    width: 15%;
    transition: .5s all ease;
}

.search:hover{
    background-color: var(--corSide);
}

#month, #year, #vistoriador{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: 0;
    border: 0!important;
    background-color: var(--corPage);
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: var(--corTexto);
    cursor: pointer;
    width: 100%;
}

#month::-ms-expand, #year::-ms-expand, #vistoriador::-ms-expand{
    display: none;
}

.monthDiv, .yearDiv, .vistDiv{
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    line-height: 3;
    background: var(--corPage);
    overflow: hidden;
    border-radius: .25em;
}

.monthDiv::after, .yearDiv::after, .vistDiv::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: var(--corHover);
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.monthDiv:hover::after, .yearDiv:hover::after, .vistDiv.vistDiv:hover::after{
    color: var(--corFundo);

}

.dados{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 75%;
}