form{
    width: 100%;
    max-width: 350px;
}

div.input-code{
    width: 100%;
    margin: 30px 0;
    position: relative;
}

div.input-code label{
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: var(--corTexto);
    cursor: text;
    transition: .5s;
}

.input{
    width: 100%;
    padding: 5px;
    color: var(--corTexto);
    border: 0;
    border-bottom: 2px solid var(--corHover);
    outline: 0;
    font-size: 14px;
}

.input:focus, .input:valid{
    border-bottom: 2px solid cornflowerblue;
}

.input:focus ~ label, .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: cornflowerblue;
}